@charset "UTF-8";
@font-face {
    font-family: "onesocial";
    src: url("../fonts/onesocial.eot");
    src: url("../fonts/onesocial.eot?#iefix") format("embedded-opentype"),
        url("../fonts/onesocial.woff") format("woff"),
        url("../fonts/onesocial.ttf") format("truetype"),
        url("../fonts/onesocial.svg#onesocial") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "onesocial" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="bb-icon-"]:before,
[class*=" bb-icon-"]:before {
    font-family: "onesocial" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bb-icon-camera:before {
    content: "a";
}

.bb-icon-close:before {
    content: "b";
}

.bb-icon-search:before {
    content: "c";
}

.bb-icon-user:before {
    content: "d";
}

.bb-icon-expand:before {
    content: "e";
}

.bb-icon-unexpand:before {
    content: "f";
}

.bb-icon-more:before {
    content: "g";
}

.bb-icon-image-in-left:before {
    content: "h";
}

.bb-icon-image-left:before {
    content: "i";
}

.bb-icon-image-center:before {
    content: "j";
}

.bb-icon-image-in-center:before {
    content: "k";
}

.bb-icon-image-top:before {
    content: "l";
}

.bb-icon-text-in-image:before {
    content: "m";
}

.bb-icon-note-o:before {
    content: "n";
}

.bb-icon-note:before {
    content: "o";
}

.bb-icon-plus-r:before {
    content: "p";
}

.bb-icon-plus:before {
    content: "q";
}

.bb-icon-left:before {
    content: "r";
}

.bb-icon-center:before {
    content: "s";
}

.bb-icon-right:before {
    content: "t";
}

.bb-icon-messages:before {
    content: "u";
}

.bb-icon-code:before {
    content: "v";
}

.bb-icon-two-dash:before {
    content: "w";
}

.bb-icon-bookmark:before {
    content: "x";
}

.bb-icon-out-of-box:before {
    content: "y";
}

.bb-icon-play:before {
    content: "z";
}

.bb-icon-arrow-right:before {
    content: "A";
}

.bb-icon-menu:before {
    content: "B";
}

.bb-icon-trash:before {
    content: "C";
}

.bb-icon-exit:before {
    content: "D";
}

.bb-icon-arrow-top:before {
    content: "E";
}

.bb-icon-write:before {
    content: "F";
}

.bb-icon-heart:before {
    content: "G";
}

.bb-icon-spinner:before {
    content: "H";
}

.bb-icon-bell-o:before {
    content: "I";
}

.bb-icon-bell:before {
    content: "J";
}

.bb-icon-reply:before {
    content: "K";
}

.bb-icon-twitter:before {
    content: "L";
}

.bb-icon-google-plus:before {
    content: "M";
}

.bb-icon-pinterest:before {
    content: "N";
}

.bb-icon-youtube:before {
    content: "O";
}

.bb-icon-chevron-down:before {
    content: "P";
}

.bb-icon-instagram:before {
    content: "Q";
}

.bb-icon-linkedin:before {
    content: "R";
}

.bb-icon-heart2:before {
    content: "S";
}

.bb-icon-pencil-square-o:before {
    content: "T";
}

.bb-icon-bars-f:before {
    content: "9";
}

.bb-icon-arrow-right-f:before {
    content: "V";
}

.bb-icon-arrow-top-f:before {
    content: "W";
}

.bb-icon-post:before {
    content: "X";
}

.bb-icon-gear:before {
    content: "Y";
}

.bb-icon-messages-f:before {
    content: "Z";
}

.bb-icon-chevron-left:before {
    content: "0";
}

.bb-icon-chevron-right:before {
    content: "1";
}

.bb-icon-facebook:before {
    content: "2";
}

.bb-icon-cart:before {
  content: "\38";
}

.bb-icon-lock:before {
  content: "\55";
}

.bb-icon-pin:before {
  content: "\33";
}